{* This is the welcome page, you can delete it *}

{block content}

<div id="banner">
	<h1 n:block=title id="test-element">Congratulations! <a href="#">test</a></h1>

	<p class="test">Test</p>
</div>

<div id="content-container"></div>